@import "tailwindcss";

@theme {
  --color-primary: #4035e8; 
  --color-secondary: #d0f04d; 
  --color-tertiary: #766BD9; 
  --color-accent: #EEFDFD; 
  --breakpoint-smh: 330px
  --font-Gotham: "Gotham", sans-serif; 
  --font-Hackman: "Hackman", sans-serif; 
}

@media (max-width: 330px) {
  
  .padding-y-smh {
    @apply py-0; 
  }

  .padding-x-smh {
    @apply px-4; 
  }

  .hidden-smh {
    display: none; 
  }

  .h1-smh {
    font-size: 1.5rem; 
  }

  .text-smh {
    font-size: .9rem;
  }

  .padding-buttom {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .padding-y-text{
    padding-top: 4px;
  }
}

@media (min-width: 450px) {
  .query-xs {
    @apply w-96; 
  }

  .bottom-xs {
    bottom: 0px; 
  }
}

@media (min-height: 300px) {
  .arrow-width-xs {
    @apply w-2/3; 
  }

  .bottom-h-xs {
    bottom: 0; 
  }
}

@font-face {
  font-family: 'Hackman';
  src: url('/fonts/Hackman-Regular.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hackman';
  src: url('/fonts/Hackman-Medium.woff2') format('woff2'); 
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hackman';
  src: url('/fonts/Hackman-Bold.woff2') format('woff2'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.woff2') format('woff2'); 
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Regular.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

body {
  font-family: theme('fontFamily.sans'); 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

@keyframes blob-move {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(30px, -50px) scale(1.1);
  }
  50% {
    transform: translate(-20px, 40px) scale(0.9);
  }
  75% {
    transform: translate(40px, 20px) scale(1.2);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}